
html, body, :global(#root) {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

// // and 3.0 bug fixed
// form {
//   :global {
//     .ant-input-lg, .ant-input-number-lg, .ant-cascader-picker-large, .ant-select-lg, .ant-calendar-picker-large, .ant-time-picker-large, .ant-radio-group-large, .ant-input-group-wrapper-lg .ant-input-group-addon,
//     .ant-select:only-child.ant-select-sm, .ant-cascader-picker:only-child.ant-select-sm, .ant-select:only-child.ant-cascader-picker-small, .ant-cascader-picker:only-child.ant-cascader-picker-small
//     {
//       top: 0;
//     }
//   }
// }

// // antd 3.0 override

// :global {
//   .ant-form-item-sm {
//     .ant-form-item-label {
//       line-height: 23.9999px;
//     }
//     .ant-form-item-control {
//       line-height: 23.9999px;
//     }
//   }
// }